
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F9F9F9;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F9F9F9;
  align-items: center;
}

/*View Detail*/
.wrapper {
  margin-top: 50px;
  width: 80%; 
}

.wrapper-paper{
  background-color: #FFFFFF;
  padding: 14px;
  border-radius: 3px;
  border: 1px solid #4DA8DA;
}

.btn-wrapper-edit{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}



